{% extends 'quanly.html' %}

{% block content %}
        <div class="main-content">
            <div class="phone-grid">
                {% for phone in dien_thoai_list %}
                    <div class="phone-card">
                        <img src="{{ url_for('static', filename = 'img/' + phone.img) }}" alt="{{ phone.tenDienThoai }}">
                        <h2>{{ phone.tenDienThoai }}</h2>
                        <p>{{ phone.moTa }}</p>
                        <p class="price">Giá: {{ "{:,.0f}".format(phone.giaTien) }} VND</p>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
